@import "./colors.scss";

button.btn-with-loading mat-progress-spinner {
    --mdc-circular-progress-active-indicator-color: white !important;
}

mat-icon {
    color: black;
}

#login-container,
#register-container {
    background-color: $blue2;
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
}

#formBar {
    background-color: $blue4;
    width: 100vw;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#card {
    margin: 4vh auto;

    background-color: white;
    width: 85%;
    height: min-content;
    border-radius: 10px;
    padding: 4%;
    box-sizing: border-box;
    gap: 2vh;
    // font-size: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    form {
        display: flex;
        flex-direction: column;
        gap: 2vh;
        width: 100%;

        mat-form-field {
            vertical-align: middle;

            input {
                vertical-align: middle;
                font-size: 120%;
            }
        }
    }

    #card-footer {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        button {
            width: 100%;
            font-size: 1.5rem;
            padding: 1.5rem 0;
            margin-bottom: 1vh;
        }

        hr {
            background-color: #e1e1e1;
            width: 100%;
        }

        .forgot-password-text {
            align-self: flex-end;
            color: $blue2;
            cursor: pointer;
            font-size: 90%;
        }

        .forgot-password-text:hover {
            font-weight: bold;
            text-decoration: underline;
        }

        .feat-text {
            cursor: default;
            font-size: 85%;
            color: gray;
        }
    }
}

#freLogo {
    width: 40%;
}

@media (min-width: 800px) {
    #freLogo {
        width: 30%;
    }

    #card {
        form {
            mat-form-field {
                input {
                    font-size: 90%;
                }
            }
        }

        #card-footer {
            button {
                font-size: 1.5rem;
                padding: 1.5rem 0;
            }
        }
    }
}

//desktop, laptop
@media (min-width: 1024px) and (orientation: landscape) {

    #login-container,
    #register-container {
        display: flex;
        flex-direction: column;
        background-image: url(../../assets/background.jpg);
        background-size: cover;
        box-shadow: inset 0 0 0 1000px rgba(83, 188, 223, 0.408);
    }

    #freLogo {
        width: 40%;
    }

    #formBar {
        width: 40vw;
        align-self: flex-end;
    }

    #card {
        align-self: center;

        #card-footer {
            button {
                padding: 1.3rem 0;
                font-size: 1.2rem;
            }
        }
    }
}