#transaction-container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 5rem 2rem 2rem;
    gap: 4rem;
}

.transaction-content-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.btn-transaction {
    height: 8rem;
    width: 10rem;

    span {
        font-size: 150%;
    }

    mat-icon {
        scale: 1.7;
    }
}