<div id="transaction-container">
    <div class="transaction-content-row">
        <button mat-raised-button class="btn-transaction">
            <mat-icon>local_atm</mat-icon>
            <span>Saque</span>
        </button>

        <button mat-raised-button class="btn-transaction">
            <mat-icon>savings</mat-icon>
            <span>Depósito</span>
        </button>

        <button mat-raised-button class="btn-transaction">
            <mat-icon>sync_alt</mat-icon>
            <span>Transação</span>
        </button>
    </div>
</div>