<div id="dashboard-container">
    <div class="dashboard-row">
        <mat-card class="account-info">
            <span>N° da Conta: {{accountInfo?.accountNumber || 'Não Carregado'}}</span>
            <strong class="account-balance">{{accountInfo?.balance || '' | currency: 'R$ '}}</strong>
        </mat-card>

        <div class="dashboard-row">
            <mat-card class="table-card mat-elevation-z8">
                <div class=""></div>
            </mat-card>

            <mat-card class="table-card mat-elevation-z8">
                a
            </mat-card>
        </div>
    </div>

    <mat-card class="chart-card mat-elevation-z8">
        a
    </mat-card>
</div>