<div id="dashboard-container">
    <div class="account-info">
        <span>N° da Conta: {{accountInfo?.accountNumber || 'Não Carregado'}}</span>

        <span></span>
        <span>Seu Saldo é de</span>
        <strong class="account-balance">{{accountInfo?.balance || 0 | currency: 'R$'}}</strong>
    </div>

    <div class="dashboard-row">
        <div class="dashboard-row">
            <button mat-raised-button class="btn-transaction btn-saque"
                (click)="openTransactionForm(TransactionType.SAQUE)">
                <mat-icon class="btn-hover-icon">local_atm</mat-icon>
                <span>Saque</span>
            </button>

            <button mat-raised-button class="btn-transaction btn-deposit"
                (click)="openTransactionForm(TransactionType.DEPOSITO)">
                <mat-icon class="btn-hover-icon">savings</mat-icon>
                <span>Depósito</span>
            </button>

            <button mat-raised-button class="btn-transaction btn-transfer"
                (click)="openTransactionForm(TransactionType.TRANSFERENCIA)">
                <mat-icon class="btn-hover-icon">sync_alt</mat-icon>
                <span>Transferência</span>
            </button>
        </div>
    </div>

    <div class="transactions-container" *ngIf="transactions">
        <h1 class="title">Transações Realizadas</h1>

        <div class="transaction-column mat-elevation-z8">
            <div class="transaction-row header">
                <div>Tipo</div>
                <div>Valor</div>
                <div>Data/Hora</div>
            </div>
            <div *ngFor="let tr of transactions" class="transaction-row">
                <div>{{tr.type}}</div>
                <div>{{tr.amount | currency: 'R$'}}</div>
                <div>{{tr.creationDate | date: 'dd/MM/yyyy hh:mm:ss'}}</div>
            </div>
            <mat-paginator [pageSize]="10" #paginator class="paginator" [pageIndex]="0" [length]="transactions.length"
                [pageSizeOptions]="[10, 20, 30, 40]" (page)="onPageChanged($event)"></mat-paginator>
        </div>
    </div>
</div>