.transction-form-dialog {
    max-height: 85vh;
    min-height: min-content;
    overflow: auto;
    width: 75vw;
    padding: 1.5rem 3vw 1rem !important;
    display: flex;
    align-items: center;
    padding-top: 1rem;
}