<ng-container *ngIf="isSession && profile">
    <div id="menu-Component">
        <mat-toolbar class="tollbarMenu mat-elevation-z4" color="primary">
            <div id="menuLeftElements">
                <button id="menu-button" class="btn-with-image" mat-icon-button (click)="snav.toggle()" tabindex="-1">
                    aheha
                    <!-- <img src="../../../assets/logobranca.png" alt="Logo"> -->
                </button>
                <span id="menuTitle">FREAccess Card</span>
            </div>

            <div id="btn-menu-profile" [matMenuTriggerFor]="menuProfile">
                <button mat-icon-button id="btn-profile" class="btn-with-image">
                    <img [src]="profileURL" loading="lazy" alt="Perfil do usuário">
                </button>
                <span class="cursor-pointer" *ngIf="sizeDesktop">{{this.profile.name}}</span>
            </div>

            <mat-menu #menuProfile="matMenu" id="profile-menu">
                <div class="profile-menu-content">
                    <a mat-menu-item routerLink="/account" matTooltip="Acessar Perfil" matTooltipClass="tooltip"
                        class="profile-menu-user-item">
                        <div class="profile-menu-img-container mat-elevation-z4">
                            <img [src]="profileURL" loading="lazy" alt="Imagem de Perfil">
                        </div>

                        <div class="profile-menu-user-info">
                            <a>
                                <mat-icon>person</mat-icon>
                                <span>{{this.profile.name}}</span>
                            </a>

                            <a>
                                <mat-icon>alternate_email</mat-icon>
                                <span class="profile-menu-text">{{this.profile.email}}</span>
                            </a>
                        </div>
                    </a>
                    <mat-divider></mat-divider>
                    <a mat-menu-item (click)="tryLogout()">
                        <mat-icon>logout</mat-icon>
                        <span class="profile-menu-text">Sair da conta</span>
                    </a>
                </div>
            </mat-menu>
        </mat-toolbar>

        <div class="sideNav">
            <mat-sidenav-container>
                <mat-sidenav #snav [mode]="sizeDesktop ? 'side' : 'over'" class="mat-elevation-z2" [autoFocus]="false"
                    [opened]="sizeDesktop ? true : false">
                    <mat-nav-list>
                        <ng-container *ngFor="let menu of menus">
                            <a mat-list-item [routerLink]="menu.url" routerLinkActive="active-link"
                                (click)="sizeDesktop ? true : snav.toggle(); removeFocus()" class="menu-item">
                                <mat-icon matListItemIcon class="menuIcon">{{menu.icon}}</mat-icon>
                                <span matListItemTitle>{{menu.label}}</span>
                            </a>
                        </ng-container>

                    </mat-nav-list>
                </mat-sidenav>

                <mat-sidenav-content class="sidenav-content">
                    <ng-content *ngTemplateOutlet="viewPage"></ng-content>
                </mat-sidenav-content>
            </mat-sidenav-container>
        </div>
    </div>
</ng-container>

<div *ngIf="!isSession">
    <ng-content *ngTemplateOutlet="viewPage"></ng-content>
</div>

<!-- Template - View Page -->
<ng-template #viewPage>
    <ng-content></ng-content>
</ng-template>