@use "../../_styles/some-fixes.scss";

.tollbarMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.cursor-pointer {
    cursor: pointer;
}

.app-title {
    font-size: 3vh;
}

#menu-info,
#btn-profile-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#menu-info {
    margin-right: 1rem;
}

.flex-spacer {
    flex: 1;
}

.profile-icon {
    scale: 2;
}

.profile-menu-content {
    display: flex;
    flex-direction: column;
    width: 100%;

    .profile-menu-user-item {
        width: 100%;
        display: flex;
        flex-direction: column;

        a {
            display: flex;
            align-items: center;
            margin: 1rem 0;
        }

        .divider {
            margin: 1rem 0;
        }
    }
}

.tollbarMenu {
    height: 8vh;
    max-height: 8vh;
}

#app-container {
    height: 92vh;
    max-height: 92vh;
    width: 100vw;
    max-width: 100vw;
    box-sizing: border-box;
}